<section>
  <div class= "user">
    <div class="user_profile">
      <img src="<%= @user.Photo %>" alt="<%= @user.Name %>'s image" />
    </div>
    <div class="user_info">
      <h1 class="user_name"><%= @user.Name %></h1>
      <p class="user_activity">Number of posts: <%= @user.PostsCounter %></p>
    </div>
  </div>

  <% @user.recent_posts.each do |post| %>
    <div class="posts_list">
      <h3>Post # <%= post.id %></h3>
      <span class="user_title">Post title:</span>
      <span><%= post.Title %></span>
      <p>Post description: <span><%= post.Text %></span> </p>
      <p class="user_activity">Number of comments: <%= post.CommentsCounter %></p>
      <p class="user_activity">Number of likes: <%= post.LikesCounter %></p> 
    </div>
  <% end %>
  <button class="bottom_button">Pagination</button>
</section>
