<%= form_with model: @post, url: user_posts_path, method: :post, local: true, scope: :new_post do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </div>
    <%= form.submit "Add new post"%>
<% end %>