<section>
  <div class='posts'>
    <h4>Post # <%= @post.id %> by <%= @post.users.Name %></h4>
    <span class='comment_like'>
      Comments: <%= @post.CommentsCounter %>, 
      Likes: <%= @post.LikesCounter %>
    </span>
    <p><%= @post.Text %></p>
  </div>

  <ul class='post_comment'>
    <% if @post.CommentsCounter == 0 %>
      <p>No comment added</p>
    <% else %>
      <% @post.id do |comment| %>
        <li>
          <%= comment.users.Name %>: <%= comment.Text %>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
